<header class="w-full flex justify-center items-center bg-[#ec0000]">
  <div
    class="max-w-[1440px] w-full flex flex-col justify-center px-[22px] pt-[25px]"
  >
    <a href="/">
      <img
        src="../../../assets/images/logo.png"
        alt="Logo da GetNet - Maquininha de Cartão"
        class="w-[120px] h-[26px] object-contain"
      />
    </a>

    <p class="mt-[10px] text-white ml-1">Do balcão a Internet</p>
  </div>
</header>

<main
  class="w-full flex justify-center items-center bg-[#ec0000] h-[320px] lg:h-[418px]"
>
  <div
    class="max-w-[1440px] w-full h-full flex flex-col lg:flex-row justify-between px-[22px]"
  >
    <div class="w-full lg:w-[48%] h-full flex flex-col justify-between">
      <div class="hidden lg:block"></div>

      <div class="mt-8 lg:mt-0">
        <h1 class="text-white text-[2.1875rem] leading-[43px] font-semibold">
          As melhores soluções financeiras para ajudar seu negócio crescer
        </h1>

        <p class="text-white text-[1.25rem] mt-8">
          Conheça, escolha e adicione os produtos na sua plataforma de vendas:
        </p>
      </div>

      <ul
        class="hidden lg:flex items-center justify-between mb-4 text-white font-semibold"
      >
        <li class="hover:scale-105 transition-transform">
          <a href="#maquininha">MAQUININHAS</a>
        </li>
        <li class="hover:scale-105 transition-transform">
          <a href="#link_pagamento">LINK DE PAGAMENTO</a>
        </li>
        <li class="hover:scale-105 transition-transform">
          <a href="#aplicativo">APLICATIVO</a>
        </li>
      </ul>
    </div>

    <div class="hidden lg:w-[45%] lg:block">
      <img
        class="rounded-full"
        src="../../../assets/images/hero-image.png"
        alt="Imagem de uma mulher sorrindo"
      />
    </div>
  </div>
</main>
