<header class="w-full flex justify-center items-center bg-[#ec0000]">
  <div
    class="max-w-[1440px] w-full flex flex-col justify-center px-[22px] pt-[25px]"
  >
    <img
      src="../../../assets/images/logo.png"
      alt="Logo da GetNet - Maquininha de Cartão"
      class="w-[120px] h-[26px] object-contain"
    />

    <p class="mt-[10px] text-white ml-1">Do balcão a Internet</p>
  </div>
</header>

<main
  class="w-full flex flex-col lg:flex-row justify-center items-center bg-[#ec0000] h-[418px]"
>
  <div
    class="max-w-[1440px] w-full h-full flex flex-col justify-between px-[22px]"
  >
    <div class="w-full lg:w-[48%] h-full flex flex-col justify-between">
      <div></div>

      <div>
        <h1 class="text-white text-[2.1875rem] leading-[43px] font-semibold">
          As melhores soluções financeiras para ajudar seu negócio crescer
        </h1>

        <p class="text-white text-[1.25rem] mt-8">
          Conheça, escolha e adicione os produtos na sua plataforma de vendas:
        </p>
      </div>

      <ul
        class="flex items-center justify-between mb-4 text-white font-semibold"
      >
        <li class="hover:scale-105 transition-transform">
          <a href="#maquiniha">MAQUININHAS</a>
        </li>
        <li class="hover:scale-105 transition-transform">
          <a href="#link_pagamento">LINK DE PAGAMENTO</a>
        </li>
        <li class="hover:scale-105 transition-transform">
          <a href="#aplicativo">APLICATIVO</a>
        </li>
      </ul>
    </div>

    <div class="w-full lg:w-[50%]"></div>
  </div>
</main>
