<div id="drawer" *ngIf="offer">
  <main id="drawer-content">
    <header
      class="fixed top-0 w-full flex items-center justify-between p-5 shadow-lg bg-white"
    >
      <a href="/">
        <img
          src="../../../assets/images/logo-red.png"
          alt="Logo da GetNet - Maquininha de Cartão"
          class="w-[120px] h-[26px] object-contain"
        />
      </a>

      <img
        src="../../../assets/icons/icon-cart.png"
        alt="Logo do carrinho de compras da GetNet"
        class="w-[26px] h-[26px] object-contain mr-3"
      />
    </header>

    <div class="w-full flex items-center mt-16 p-4 bg-[#f5f7fa]">
      <button
        (click)="onCloseDrawer()"
        class="flex items-center justify-center p-2 hover:bg-red-100 rounded-full transition-colors"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="Fechar o drawer"
          fontIcon="arrow_back"
          class="text-red-500 cursor-pointer"
        ></mat-icon>
      </button>
    </div>

    <div class="w-full flex justify-center items-center bg-[#F5F7FA]">
      <div
        class="max-w-[1024px] p-4 lg:p-0 w-full flex flex-col lg:flex-row justify-between"
      >
        <div class="pt-3">
          <p class="text-[#ec0000]">Oferta especial</p>
          <h5 class="text-[32px] font-medium text-[#ec0000]">
            {{ offer.name }}
          </h5>
          <p class="text-[20px] font-medium">
            Solução ideal para quem fatura acima de R$ 1.499
          </p>
          <p class="text-[32px] font-medium mt-2 mb-1">
            R$ {{ offer.price }} /mês
          </p>

          <button
            class="w-full lg:w-[200px] py-2 text-sm text-white bg-[#ec0000] hover:bg-[#d81212] transition-colors rounded-full"
          >
            ADICIONAR
          </button>
        </div>

        <div class="flex items-center justify-center">
          <img
            class="lg:w-[190px] h-[200px] lg:h-[380px] object-cover"
            src="{{ offer.image_url }}"
            alt="Imagem da máquina de cartão da Getnet"
          />
        </div>
      </div>
    </div>

    <div
      class="px-4 lg:px-0 py-8 text-center flex flex-col gap-3 justify-center items-center"
    >
      <p class="text-[#ec0000] text-[1.25rem] lg:text-[1.875rem]">
        Solução ideal para quem vende online, delivery e em lojas físicas
      </p>
      <p class="text-[1rem] lg:text-[1.5rem]">
        Maquininha, link de pagamento e um aplicativo com conta digital para
        gestão das vendas
      </p>
    </div>

    <div class="w-full flex justify-center items-center mt-4">
      <div
        class="max-w-[1024px] w-full flex-col lg:flex-row px-4 lg:px-0 flex justify-between"
      >
        <div class="pt-3">
          <h5 class="text-[1.5rem] lg:text-[2rem] font-medium text-[#ec0000]">
            {{ offer.name }}"
          </h5>

          <p class="text-[18px] font-medium">
            Máquina versátil, ótima para lojas física e delivery
          </p>

          <div class="mt-6 flex flex-col gap-2">
            <div *ngFor="let characteristic of characteristics">
              <div class="flex gap-2 items-center">
                <img
                  class="w-[24px] h-[24px]"
                  src="{{ characteristic.image_url }}"
                  alt="Benefício da máquina Get Mini"
                />
                <p>{{ characteristic.description }}</p>
              </div>
            </div>
          </div>

          <div class="mt-6 flex flex-col gap-2">
            <p class="text-[32px] font-medium text-[#ec0000]">Benefícios</p>

            <ul class="flex flex-col gap-2 items-start list-disc pl-4">
              <li *ngFor="let benefit of benefits">
                <p>{{ benefit }}</p>
              </li>
            </ul>
          </div>
        </div>

        <div class="flex items-center justify-center">
          <img
            class="lg:w-[190px] h-[200px] lg:h-[380px] object-cover"
            src="{{ offer.image_url }}"
            alt="Imagem da máquina de cartão da Getnet"
          />
        </div>
      </div>
    </div>

    <h1>teste</h1>
  </main>
</div>
