<section class="w-full flex justify-center items-center bg-[#F5F7FA]">
  <div
    class="max-w-[1440px] w-full flex flex-col justify-center px-[22px] mb-8"
  >
    <div class="flex items-center gap-[20px] pt-[1.5rem] pb-[3rem]">
      <app-select-filter title="Vendo online"></app-select-filter>
      <app-select-filter title="Vendo em loja física"></app-select-filter>
      <app-select-filter title="Delivery"></app-select-filter>
    </div>

    <p class="mb-[0.35em] text-[2.125rem] font-semibold text-[#ec0000]">
      Ofertas especiais
    </p>

    <app-offer-card></app-offer-card>
  </div>
</section>
