<app-drawer *ngIf="openDetails"></app-drawer>

<section class="w-full flex justify-center items-center bg-[#F5F7FA] pb-2">
  <div
    class="max-w-[1440px] w-full flex flex-col justify-center px-[22px] mb-8"
  >
    <div
      class="w-full flex flex-col lg:flex-row items-center gap-[20px] pt-[1.5rem] pb-[3rem]"
    >
      <div class="lg:w-auto w-full">
        <app-select-filter title="Vendo online"></app-select-filter>
      </div>

      <div class="lg:w-auto w-full">
        <app-select-filter title="Vendo em loja física"></app-select-filter>
      </div>

      <div class="lg:w-auto w-full">
        <app-select-filter title="Delivery"></app-select-filter>
      </div>
    </div>

    <p
      class="lg:px-[30px] mb-[0.35em] text-[20px] lg:text-[2.125rem] font-semibold text-[#ec0000]"
    >
      Ofertas especiais
    </p>

    <ngx-slick-carousel [config]="carouselConfig" class="slickSwiper">
      <div *ngFor="let offering of offerings">
        <div ngxSlickItem class="slide lg:pl-[30px] lg:pr-[14px]">
          <app-offer-card
            title="{{ offering.name }}"
            rent="R$ {{ offering.price }} / mês"
            specialCondition="{{ offering.special_conditions }}"
            image="{{ offering.image_url }}"
            invoiceOver="R$ 2.000"
            getPay="Plano inicial: R$ 1,00 por Link pago"
            description="Máquina versátil, ótima para loja física e delivery"
            (clickEvent)="handleOpenDetails(offering)"
          ></app-offer-card>
        </div>
      </div>
    </ngx-slick-carousel>
  </div>
</section>
