<section
  id="maquininha"
  class="w-full flex justify-center items-center bg-[#F5F7FA]"
  *ngIf="offerings.length > 0"
>
  <div
    class="max-w-[1440px] w-full flex flex-col justify-center px-[22px] mb-8"
  >
    <p class="text-[20px] lg:text-[2.125rem] font-semibold text-[#ec0000]">
      Maquininhas
    </p>
    <p class="mb-4 text-[#66707a]">Recomendadas para o seu negócio:</p>

    <div
      class="relative w-full flex flex-col shadow-sm bg-white px-8 pb-4 rounded-[10px]"
    >
      <div
        class="flex flex-col lg:flex-row lg:pl-[28px] lg:h-[400px] h-[420px] lg:gap-4 lg:text-start text-center"
      >
        <div class="flex items-center justify-center">
          <img
            class="h-[200px] lg:h-[440px] object-contain"
            src="{{ offerings[1].image_url }}"
            alt="Imagem da máquina de cartão Get Mini"
          />
        </div>

        <div class="w-full flex flex-col justify-start">
          <p class="text-[2.1875rem] font-semibold lg:pt-[24px] text-[#ec0000]">
            {{ offerings[1].name }}
          </p>

          <p class="text-[1.25rem] text-[#66707a] font-semibold pt-3">
            Aluguel
          </p>
          <p class="text-[2rem] font-semibold">
            R$ {{ offerings[1].price }} /mês
          </p>

          <div class="w-[80%] mt-5 grid grid-cols-2 gap-2">
            <div
              *ngFor="
                let offering of offerings[1].items[2].product
                  .product_characteristics
              "
            >
              <div class="flex gap-2">
                <img
                  class="w-[24px] h-[24px]"
                  src="{{ offering.image_url }}"
                  alt="Benefício da máquina Get Mini"
                />
                <p class="max-w-[300px]">
                  {{ offering.description }}
                </p>
              </div>
            </div>
          </div>

          <div class="w-full flex justify-end">
            <button
              class="py-2 text-sm text-[#ec0000] hover:text-[#d81212] transition-colors mt-3"
            >
              MAIS DETALHES
            </button>
          </div>

          <div class="w-full border-b"></div>

          <div
            class="w-full flex flex-col lg:flex-row items-center justify-end my-4"
          >
            <button
              class="w-full lg:w-[200px] py-2 text-sm text-white bg-[#ec0000] hover:bg-[#d81212] transition-colors rounded-full"
            >
              ADICIONAR
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
