<div
  class="relative w-full flex flex-col shadow-sm bg-white px-8 py-4 rounded-[10px]"
>
  <div class="flex justify-between pl-[28px] pt-[48px] h-[400px] gap-4">
    <div class="flex flex-col justify-start">
      <div class="p-2 text-sm text-white bg-[#ec0000] rounded">
        <p>Solução ideal para quem fatura acima de R$ 2.000</p>
      </div>

      <p class="text-[1.5rem] font-semibold pt-[24px] text-[#ec0000]">
        Get Smart para App Eye Essencial
      </p>

      <p class="text-[#66707a] font-semibold pt-3">Aluguel</p>
      <p class="text-[32px] font-semibold">R$ 29,90 /mês</p>
    </div>

    <img
      class="h-full object-contain"
      src="../../../assets/images/machine-test.png"
      alt="Imagem da máquina de cartão da Getnet"
    />

    <div class="flex pl-4 justify-center items-center">
      <div class="flex flex-col gap-4">
        <div>
          <p class="text-[1.25rem] font-semibold text-[#ec0000]">
            Get Smart | Receba já
          </p>
          <p class="text-sm">
            Máquina versátil, ótima para loja física e delivery
          </p>
        </div>

        <div>
          <p class="text-[1.25rem] font-semibold text-[#ec0000]">
            Get Pay (Grátis)
          </p>
          <p class="text-sm">Plano inicial: R$ 1,00 por Link pago</p>
        </div>

        <div>
          <p class="text-[1.25rem] font-semibold text-[#ec0000]">
            Condição especial
          </p>
          <p class="text-sm max-w-[300px]">
            Get Smart por R$129,90. A licença da Eye é de R$20,00 e será cobrada
            via Getstore somente após o aceite da licença diretamente na Get
            Smart.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="w-full border-b"></div>

  <div class="w-full flex items-center justify-end mt-4">
    <button
      class="min-w-[200px] py-2 text-sm text-[#ec0000] hover:text-[#d81212] transition-colors"
    >
      MAIS DETALHES
    </button>
    <button
      class="min-w-[200px] py-2 text-sm text-white bg-[#ec0000] hover:bg-[#d81212] transition-colors rounded-full"
    >
      ADICIONAR
    </button>
  </div>
</div>
