@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.slick-prev:before,
.slick-next:before {
  font-size: 40px !important;
  color: #ec0000 !important;
}

.slick-dots li.slick-active button:before {
  color: #ec0000 !important;
  font-size: 16px !important;
  margin-top: 20px !important;
}

.slick-dots li button:before {
  color: rgb(236, 0, 0) !important;
  font-size: 16px !important;
  margin-top: 20px !important;
}

.no-scroll {
  overflow: hidden;
}
